
.NewSemesterSchedule{
    padding-top: 20px;
    padding-left: 280px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
}



.Registration{
    position: center;
    padding-left: 400px;
    padding-top: 200px;
}